@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Open+Sans&display=swap');

/*--Inicio Cabecera con imagen, titulo y eslogan--*/
.imagen-principal {
  height: 40vh;
  background-image: url(imagenes/fondopan.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  background-color: #7f5539;
  padding: 20px;
  opacity: 80%;
  color: white;
  font-family: Dancing Script;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);

}

.eslogan {
  font-size: 15px;
  text-align: center;
  font-family: Indie Flower;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*--menu de navegacion superior--*/
.ancho {
  width: 100%;
  height: 70px;
  background-color: #b08968;
  margin: auto;
}

.imagenes-menu {
  width: 26px;
  vertical-align: middle;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  transition-timing-function: linear;
  transition-property: all;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
}

nav ul li a img:hover {
  width: 35px;
  height: 35px;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.btn-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  background-color: transparent;
}

.btn-menu {
  height: 4.3rem;
  width: 9rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-timing-function: linear;
  transition-property: all;
}

.btn-container button a {

  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-timing-function: linear;
  transition-property: all;
  color: white;

}
.btn-iconos {
  height: 4.3rem;
  width: 4.3rem;
  border: none;
  outline: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-timing-function: linear;
  transition-property: all;
  color: white;
}

.btn-container button a:hover {
  font-size: 15px;
  color: #7f5539;
}

.btn-container button:hover img {
  width: 30px;
}

/*--Inicio del main--*/

.iconos-centrados {
  padding-top: 2%;
  text-align: center;
  padding-bottom: 3%;
}

.iconos-centrados div {
  display: inline-block;
  margin: 0 2%;
}

.titulossecciones {
  text-align: center;
  border-bottom: 2px #7f5539 solid;
  color: #7f5539;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 2%;
}

/*--Panel carrito--*/
.panel {
  background-color: #ffffff;
  width: 300px;
  height: 30rem;
  position: fixed;
  right: 0;
  display: none;
  border: solid 1px #7f5539;
  position: absolute;
}

.boton-comprar {
  text-align: center;
}

/*--Items panel de carrito--*/
.shopping-cart-items {
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  margin-bottom: 40px;
}

.shopping-cart-items img {
  float: left;
  margin-right: 10px;
  width: 6rem;
}

.item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
  color: #23211f;
}

.item-price {
  color: #b08968;
  margin-right: 8px;
}

.item-quantity {
  color: #646464;
}

/*--Boton comprar--*/
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: #b08968;
  border-radius: 1.625rem;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.comprar {
  width: 12rem;
  height: auto;
}

button.comprar .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #7f5539;
  border-radius: 1.625rem;
}

button.comprar .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.comprar .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.comprar .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}


button.comprar .button-text a {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
}

button.comprar .button-text a:hover {
  color: white;
}

button:hover .circle {
  width: 100%;
}

.piepagina {
  margin-top: 5%;
  background-color: #e6ccb2;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}

.piepagina div {
  display: inline-block;
  text-align: center;
  padding-left: 5%;
  align-items: center;
}

.seccionfooter {
  width: 27%;
  vertical-align: middle;
}

.imagenesfooter {
  width: 30px;
  height: 30px;
  padding-left: 5px;
}

.informacion {
  color: #7f5539;
}