.iconos-centrados {
    padding-top: 2%;
    text-align: center;
    padding-bottom: 3%;
  }
  
  .iconos-centrados div {
    display: inline-block;
    margin: 0 2%;
  }
  
  /*Tarjetas de nuestros servicios*/
  .card {
    width: 250px;
    height: 300px;
    background: #b08968;
    border-radius: 15px;
    border: 2px solid #e6ccb2;
    transition: 200ms ease-out;
    overflow: visible;
  }
  
  .card:hover {
    border-color: #7f5539;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }
  
  .card .card-border-top {
    width: 60%;
    height: 3%;
    background: #e6ccb2;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
  }
  
  .card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }
  
  .card .job {
    font-weight: 400;
    color: white;
    display: flex;
    text-align: center;
    padding-top: 3px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .imagenes-main {
    width: 60px;
    align-items: center;
    margin-top: 10px;
    margin-left: 4px;
  }
  
  .card .img {
    width: 70px;
    height: 80px;
    background: #e6ccb2;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
  }
  
  .tarjetas-centradas {
    float: left;
  }
  
  /*Footer*/
  .piepagina {
    margin-top: 5%;
    background-color: #e6ccb2;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
  }
  
  .piepagina div {
    display: inline-block;
    text-align: center;
    padding-left: 5%;
    align-items: center;
  }
  
  .seccionfooter {
    width: 27%;
    vertical-align: middle;
  }
  
  .imagenesfooter {
    width: 30px;
    height: 30px;
    padding-left: 5px;
  }
  
  .informacion {
    color: #7f5539;
  }
  
  /*Comentarios de la web*/
  .comentarios {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .comentarios div {
    display: inline-block;
    align-items: center;
  }
  
  .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
    padding: 2%;
    list-style: none;
    width: 28%;
    font-size: 13px;
    border: 2px solid #e6ccb2;
    border-radius: 2%;
    transition: 200ms ease-out;
    overflow: visible;
  
  }
  
  .social-media:hover {
    border: 2px solid #7f5539;
  }
  
  .imagencomentario {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }
  
  .comentario {
    align-items: flex-start;
  }
  
  .nombreusuario {
    margin: 0;
    font-size: 15px;
  }
  
  .fechacomentario {
    margin: 0;
    color: grey;
  }
  
  .fechacomentario--space {
    display: block;
    padding-left: 4px;
    color: grey;
  }
  
  .estrellas {
    display: flex;
    margin: 8px 0 0;
    padding: 0;
    list-style: none;
    color: #EB6E00;
  }
  
  .textcomentario {
    margin: 0;
    font-size: 13px;
  }