@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Open+Sans&display=swap');

.navegacion {
  width: 100%;
  height: 70px;
  background-color: #b08968;
  margin: auto;
  transition-property: all;
  transition-duration: 200ms;
}

* {
  list-style: none;
  vertical-align: center;
  font-family: 'Open Sans', sans-serif;
}

.carrito {
  width: 100%;
  float: left;

}

.productos {
  width: 60%;
  margin-left: 2rem;
}

.carrito .productos,
.pago {
  float: left;
}


.div-producto {
  width: 100%;
  height: 10rem;
  font-size: 1.5rem;
  border: 1px solid #b08968;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0;
  position: relative;
  margin-bottom: 1rem;
}

.imagen1 {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-5%, -50%);
}

.imagen1 img {
  width: 96%;
  vertical-align: middle;
  border-radius: 10px;
}

.contenedor-nombre1 {
  width: 20%;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 700;
  color: #7f5539;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(0, -50%);
}

.precio2 {
  width: 20%;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(0, -50%);

}

.precio2 .titulo-precio {
  font-size: 1.5rem;
  font-weight: 700;
  color: #7f5539;
}

.precio2 .euros {
  font-size: 1.5rem;
  font-weight: 700;
  color: #449441;
}

.cantidad2 {
  width: 20%;
  text-align: center;
  vertical-align: middle;
  color: #7f5539;
  font-weight: 700;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 63%;
  transform: translate(0, -50%);
}

.cantidad2 input {
  width: 3em;
  height: 3em;
  border: solid 1px #7f5539;
  border-radius: 25%;
  text-align: center;
  vertical-align: middle;
}

.btn-borrar {
  width: 20%;
  text-align: center;
  color: #7f5539;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(0, -50%);
}

.faf {
  font: 1rem/1 FontAwesome;
  font-size: 1em;
}

.fa-check:hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: #0F9E5E;
  cursor: pointer;
}

.fa-times:hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: #da1226;
  cursor: pointer;
}


.boton-realizar-pedido {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 2rem;
  margin: 2em auto;
  font-weight: 500;
  color: #7f5539;
  text-align: right;
}

.boton-realizar-pedido button {
  border-radius: 5px;
  border: 1px solid #7f5539;
  display: inline-block;
  cursor: pointer;
  color: #7f5539;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 13px;

  margin-right: 1rem;
  text-decoration: none;
  text-decoration: none;
  margin: 0px 2.5em;
  border-radius: 20px;
  background-color: transparent;
  transition: all .2s ease;
}

.boton-realizar-pedido button:hover {
  background-color: #7f5539;
  color: #fff;
  padding-right: 1em;
  padding-left: 1em;
}

.boton-realizar-pedido button:after {
  content: "\f055";
  font-family: FontAwesome;
  margin-left: 1em;
}



.pago {
  width: 30%;
  height: 22rem;
  top: 0;
  margin-right: 2rem;
  vertical-align: top;
  border: 1px solid #b08968;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  float: right;

}

.pago h2 {
  color: #7f5539;
  text-align: center;
}

.subtotal {
  width: 100%;
  font-size: 1.5rem;
  width: 100%;
  color: #7f5539;
}

.envio {
  padding-top: 5%;
  width: 100%;
  color: #5f5f5f;
}

.total-alienado{
  
}

.total {
  width: 45%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #7f5539;
}

.precio-total {
  padding-top: 5%;
  width: 45%;
  font-size: 1.5rem;
  text-align: right;
  float: right;
}