@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Open+Sans&display=swap');

.cardproducto {
  width: 300px;
  height: 350px;
  background-color: #7f5539;
  align-items: center;
}

.imagenproducto {
  width: 290px;
  height: 250px;

}

.shop-card {
  margin: 10px;
  width: 250px;
  height: 400px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: 200ms ease-out;
}

.shop-card:hover {
  border-color: #7f5539;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);

}

.shop-card .title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 25px;
  color: #7f5539;
  margin-bottom: 5px;
}

.shop-card .desc {
  font-size: 15px;
  opacity: .8;
  margin-bottom: 3px;
  color: #23211f;
}

.product {
  margin: 10px 0;
}

.product img {
  width: 100%;
  height: 200px;
}

.cta {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
}

.price {
  color: #7f5539;
  font-size: 22px;
  font-weight: 900;
  transition: color .3s ease-in-out;
}
 
.button {
  margin-top: 1rem;
  padding: 13px 25px;
  border: 1px solid #7f5539;
  border-radius: 15px;
  color: #7f5539;
  background: #ffffff;
  font-weight: 1000;
  font-size: 17px;
  transition: all 250ms;
  overflow: hidden;
}

.button:hover {
  color: #ffffff;
  background-color: #7f5539;
}