@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Open+Sans&display=swap');


.div-info{
    width: 100%;
    text-align: center;
    font-size: 1.rem;
    color: #505050;
}

form {
    width: 100%;
}

form fieldset {
    display: inline-block;
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align:center;
    width: 40%;
    border: transparent 1px solid;
    border-radius: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

.centrar-form{
    width: 100%;
    text-align: center;
}

.input {
    margin-top: 2%;
}

.estilo-input {
    width: 90%;
    border: solid 1.5px #b08968;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #7f5539;
    font-family: 'Open Sans', sans-serif;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}


.estilo-input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #7f5539;
    font-family: 'Open Sans', sans-serif;
}

.estilo-input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #7f5539;
}


.areatexto {
    width: 89%;
    height: 150px;
    padding: 12px 20px;
    font-size: 2rem;
    box-sizing: borer-box;
    border: 1px solid #b08968;
    color: #b08968;
    border-radius: 1.5rem;
    resize: none;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

textarea:focus {
    outline: none !important;
    border-color: #7f5539;
}

::placeholder{
    color:#b08968
}

input[type="date"] {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    color: #b08968;
    font-size: 18px;
    border: 1px solid #b08968;
    outline: none;
    border-radius: 1.2rem;
    vertical-align: middle;
}

input[type="date"]:focus {
    border: 1px solid #7f5539;
}

.fechayhora div{
    display: inline-block;
    text-align: left;
}

.fechaentrega {
    width: 40%;
    margin-top: 1rem;
    margin-left: .7rem;
    text-align: center;
    color: #b08968;
}

.fechaentrega div{
    margin-bottom: .5rem;
}

.horario {
    width: 40%;
    text-align: center;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #b08968;
    margin-bottom: 2rem;
}

.horario div{
    margin-bottom: .5rem;
}

input[type="time"] {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    color: #b08968;
    font-size: 18px;
    border: 1px solid #b08968;
    outline: none;
    border-radius: 1.2rem;
    vertical-align: middle;
}

input[type="time"]:focus {
    border: 1px solid #7f5539;
}

.boton {
    width: 75%;
    height: auto;
    text-align: left;
    margin-left: 1.2rem;
    padding-bottom: 2rem;
}

.realizar-compra {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: #b08968;
    padding: 0;
    border-radius: 1.5rem;
}

button.realizar-compra {
    width: 15rem;
    height: auto;
}

button.realizar-compra .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #7f5539;
    border-radius: 1.5rem;
}

button.realizar-compra .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.realizar-compra .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.realizar-compra .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.realizar-compra .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}